<footer class="footer bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <!-- Footer Logo and Info -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="footer__info">
                    <img src="~/ui/img/logo2.svg" alt="Logo" class="footer-logo mb-3">
                    <p>
                        Adres: Dumlupınar, Mektep Sk. No:1/B, 34025 Kadıköy / İstanbul
                    </p>
                    <p>
                        Telefon: <a href="tel:+905436317232" class="text-light">0543 631 72 32</a>
                    </p>
                    <!-- Payment Icons -->
                    <div class="footer__payment mt-4">
                        <a href="#"><img src="~/ui/img/payment/payment-1.png" alt="Ödeme Yöntemi"></a>
                        <a href="#"><img src="~/ui/img/payment/payment-2.png" alt="Ödeme Yöntemi"></a>
                        <a href="#"><img src="~/ui/img/payment/payment-3.png" alt="Ödeme Yöntemi"></a>
                        <a href="#"><img src="~/ui/img/payment/payment-4.png" alt="Ödeme Yöntemi"></a>
                        <a href="#"><img src="~/ui/img/payment/payment-5.png" alt="Ödeme Yöntemi"></a>
                    </div>
                </div>
            </div>

            <!-- Corporate Links -->
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="footer__widget">
                    <h6>Kurumsal</h6>
                    <ul class="list-unstyled">
                        <li><a href="./index.html" class="text-light">Ana Sayfa</a></li>
                        <li><a href="./about.html" class="text-light">Hakkımızda</a></li>
                        <li><a href="./terms.html" class="text-light">Mesafeli Satış Sözleşmesi</a></li>
                        <li><a href="./privacy.html" class="text-light">Gizlilik & Güvenlik</a></li>
                        <li><a href="./delivery.html" class="text-light">Sipariş & Teslimat</a></li>
                        <li><a href="./warranty.html" class="text-light">Garanti, İade & Değişim</a></li>
                        <li><a href="./kvkk.html" class="text-light">KVKK Aydınlatma Metni</a></li>
                        <li><a href="./payment.html" class="text-light">Ödeme Seçenekleri</a></li>
                        <li><a href="./contact.html" class="text-light">İletişim</a></li>
                    </ul>
                </div>
            </div>

            <!-- User Links -->
            <div class="col-lg-2 col-md-6 col-sm-12 mb-4">
                <div class="footer__widget">
                    <h6>Hesap</h6>
                    <ul class="list-unstyled">
                        <li><a href="./signup.html" class="text-light">Yeni Üyelik</a></li>
                        <li><a href="./login.html" class="text-light">Üye Girişi</a></li>
                        <li><a href="./forgot-password.html" class="text-light">Şifre Hatırlatma</a></li>
                        <li><a href="./profile.html" class="text-light">Kullanıcı Bilgilerim</a></li>
                        <li><a href="./orders.html" class="text-light">Siparişlerim</a></li>
                        <li><a href="./track-order.html" class="text-light">Sipariş Takip</a></li>
                    </ul>
                </div>
            </div>

            <!-- Categories -->
            <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="footer__widget">
                    <h6>Kategoriler</h6>
                    <ul class="list-unstyled">
                        <li><a href="./hearing-devices.html" class="text-light">İşitme Cihazları ve Pilleri</a></li>
                        <li><a href="./sleep-respiration.html" class="text-light">Uyku ve Solunum</a></li>
                        <li><a href="./speech-devices.html" class="text-light">Konuşma Cihazları</a></li>
                        <li><a href="./bedridden-products.html" class="text-light">Yatan Hasta</a></li>
                        <li><a href="./accessible-products.html" class="text-light">Engelsiz Ürünler</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
