<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-truck"></i>
                    <h6>Ücretsiz Teslimat</h6>
                    <p>Seçili ürünlerde ücretsiz kargo imkanı.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-shield"></i>
                    <h6>Güven Garantisi</h6>
                    <p>Ürünlerimiz kalite ve güven garantilidir.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-clock-o"></i>
                    <h6>7/24 Destek</h6>
                    <p>İşinde uzman ekibimiz her zaman yanınızda.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-lock"></i>
                    <h6>Güvenli Ödeme</h6>
                    <p>100% güvenli ve hızlı ödeme altyapısı.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->