@model EgeApp.Frontend.Mvc.Models.Other.ContentDataModel

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@Model.PageHeader</h1>
            </div><!-- /.col -->
            <div class="col-sm-6 text-right">
                @if (Model.ShowButton)
                {
                    <a href="@Model.ButtonLink" class="btn btn-primary">@Model.ButtonTitle</a>
                }
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->